{% extends "base.html" %}
{% set active_page = 'home' %}

{% block title %}Início - FR Turismo Executivo{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}">
{% endblock %}

{% block content %}
    <main>
        <section class="banner-container">
            <img src="{{ url_for('static', filename='imgs/Banner_site_fr.png') }}" alt="Banner Principal">
        </section>

        <section class="cta-container">
            <a href="{{ url_for('main.agendamento_page') }}" class="btn-cta">
                Curtiu? Clique aqui e agende um de nossos serviços!
            </a>
        </section>

        <section class="carousel-container">
            <div class="slides">
                <div class="slide active">
                    <img src="{{ url_for('static', filename='imgs/Placas_fr.png') }}" alt="Imagem 1">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='imgs/Cachoeira_carrocel.png') }}" alt="Imagem 2">
                </div>
                <div class="slide">
                    <img src="{{ url_for('static', filename='imgs/Roda_Gigante.png') }}" alt="Imagem 3">
                </div>
            </div>

            <button class="prev" onclick="mudarSlide(-1)">&#10094;</button>
            <button class="next" onclick="mudarSlide(1)">&#10095;</button>
        </section>

        <section class="text-content">
            <p>Na <strong>FR Turismo Executivo</strong>, nosso objetivo é fazer você aproveitar sua viagem. Levamos para os passeios e os melhores lugares para você, com foco em estilos versáteis que possa aproveitar do seu jeito.</p>

            <p>Se você quer conforto fale conosco, seja uma viagem tradicional, à trabalho ou para evento especial, o FR Turismo Executivo pode ajudar você.</p>

            <p>Acreditamos que você deve aproveitar de forma confortável e segura. Por esse motivo, oferecemos uma experiência completa de serviços de viagens.</p>
        </section>
    </main>

    <script>
        let indiceSlide = 0;
        const slides = document.querySelectorAll('.slide');

        function mostrarSlide(n) {
            if (n >= slides.length) indiceSlide = 0;
            if (n < 0) indiceSlide = slides.length - 1;

            slides.forEach(slide => slide.classList.remove('active'));
            slides[indiceSlide].classList.add('active');
        }

        function mudarSlide(n) {
            mostrarSlide(indiceSlide += n);
        }

        setInterval(() => {
            mudarSlide(1);
        }, 5000);
    </script>
{% endblock %}
